/* ------------- MEDIA QUERIES -------------- */
/* ------- HEIGHT SECTION -------*/
@media (min-height:268px) {
  .hero__content {
    padding-top: 70px;
    font-size: 12px;
  }

  .hero__content p {
    max-width: 60%;
    margin-bottom: 1em;

  }

  .hero__title {
    /* font-size: 20px; */
    margin: 0.1em 0 0.1em;
  }

  .hero__content h3 {
    font-size: var(--big-font-size);
    padding-top: 14px;
  }
}

@media (min-height:400px) {
  .hero__content {
    padding-top: 90px;

  }

  .hero__title {
    /* font-size: 20px; */
    margin: 0.1em 0 0.2em;
  }

  .hero__content h3 {
    padding-top: 10px;
  }

  .hero__content p {
    max-width: 80%;
    margin-bottom: 1em;

  }
}

@media (min-height:500px) {
  .hero__content {
    padding-top: 80px;
    font-size: 16px;
  }

  .hero__content h3 {
    padding-top: 10px;
  }

  .hero__content p {
    max-width: 60%;
    margin-bottom: 1em;

  }
}

@media (min-height:660px) {
  .hero__content {
    padding-top: 75px;
    font-size: 15px;
  }

  .hero__content h3 {
    padding-top: 10px;
  }

  .hero__content p {
    max-width: 70%;
    margin-bottom: 1em;

  }
}

@media (min-height:890px) {
  .hero__content {
    font-size: 22px;
  }

  .hero__content h3 {
    padding-top: 10px;
  }

  .hero__content p {
    max-width: 70%;
    margin-bottom: 1em;

  }
}

@media (min-height:840px) {
  .hero__content {
    font-size: 20px;
  }

  .hero__content h3 {
    padding-top: 10px;
  }
}

@media (min-height:900px) {
  .hero__content {
    font-size: 22px;
  }

  .hero__content h3 {
    padding-top: 10px;
  }

  .hero__content p {
    max-width: 70%;
    margin-bottom: 1em;
  }
}

@media (min-height:1020px) {
  .hero__content {
    font-size: 25px;
  }

  .hero__content h3 {
    padding-top: 10px;
  }
}

@media (min-height:1170px) {
  .hero__content {
    font-size: 27px;
  }

  .hero__content h3 {
    padding-top: 10px;
  }
}

@media (min-height:1360px) {
  .hero__content {
    font-size: 32px;
  }

  .hero__content h3 {
    padding-top: 10px;
  }
}

/* ------- WIDTH SECTION -------*/

@media (min-width: 268px) {
  .social-media--hero {
    padding-top: 15px;
    flex-direction: row;
    gap: 0.5em;

    bottom: 2em;
    left: 0;
  }

  .port__cards {
    width: 100%;
    height: 100%;
  }

}



@media (min-width: 600px) {
  .social-media--hero {
    padding-top: 15px;
    flex-direction: row;
    gap: 0.5em;
    position: unset;
    bottom: 2em;
    left: 0;
  }

  #switch {
    top: 15px;
    right: 75px;
  }

  .port__cards {
    width: flex;
    height: flex;
  }
}

@media (min-width: 768px) {

  /* VARIABLES */
  :root {
    --title-font-size: 2.5rem;

    --big-font-size: 1.75rem;
    --middle-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;

    --height-nav: 4em;
  }

  .hero__content p {
    max-width: 60%;
  }

  .contact__content {
    flex-direction: row;
  }

  .social-media--hero {
    padding-top: 15px;
    flex-direction: row;
    gap: 0.5em;
    position: unset;
    bottom: 2em;
    left: 0;
  }

  #switch {
    top: 20px;
    right: 100px;
  }

  .port__cards {
    width: 70%;
    height: 70%;
  }

  @media (min-width: 960px) {

    /* NAV */
    .nav__icon-menu {
      display: none;
    }

    .nav__links {
      position: static;
      background-color: transparent;
      width: auto;
      height: 100%;
      margin-top: 0;
      padding-top: 0;

      flex-direction: row;
      transition: none;
    }

    .nav__link {
      margin-left: 2em;
      margin-bottom: 0;
      padding-bottom: 2px;
      position: relative;
    }

    .nav__link::after {
      content: '';
      width: 0;
      height: .2em;
      background-color: var(--main-color);
      position: absolute;
      bottom: 0;
      left: 0;

      transition: width .3s ease;
    }

    .nav__link:hover::after {
      width: 100%;
    }

    .nav__link a {
      color: var(--text-color);
      font-weight: normal;
      text-decoration: none;
    }

    .social-media--hero {
      padding-top: 15px;
      flex-direction: row;
      gap: 0.5em;
      position: unset;
      bottom: 2em;
      left: 0;
    }

    #switch {
      top: 20px;
      right: 50px;
    }

    .port__cards {
      width: 60%;
      height: 60%;
    }
  }

  @media (min-width: 1024px) {
    :root {
      --title-font-size: 3rem;
    }

    .social-media--hero {
      flex-direction: row;
      gap: 0.5em;
      bottom: 2em;
      left: 0;
    }

    .port__cards {
      width: 50%;
      height: 50%;
    }

  }

  @media (min-width: 1200px) {

    .nav__logo {
      font-size: 1.875rem;
    }

    .nav__logo span {
      font-size: 3rem;
    }

    .hero__content h3 {
      font-size: 1.625rem;
    }

    .social-media--hero {
      flex-direction: row;
      gap: 0.5em;
    }

    .proyects__cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }
